@use '../EditProfileGeneralForm/EditProfileGeneralForm.module.scss' as
  editProfile;
@use 'variables';
@use '../EditProfileMixins.module.scss' as profile;

.profile-form {
  padding: 2rem 0;
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.profile-image-input {
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  position: absolute;
}

.edit-image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 0.5rem;
}

.banner-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
  height: 5rem;
  width: 15rem;
  overflow: hidden;
  background-color: variables.$primary-color;
}

.banner-image-preview {
  width: 100%;
  height: auto;
}

.avatar-circle {
  overflow: hidden;
  border-radius: 50%;
  width: fit-content;
}

.avatar-preview {
  height: 100px;
  width: 100px;
}

.edit-profile-info-form {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  font-size: 0.9rem;
  color: variables.$secondary-color;
}

.bio-remaining-characters {
  font-size: 0.8rem;
  font-weight: 400;
  color: variables.$primary-lighter;
}

.bio-remaining-characters.error {
  color: variables.$error-color;
}

.textarea {
  resize: none;
}

.edit-profile-input {
  display: flex;
  flex-wrap: wrap;
}

.file-input-error {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  color: variables.$error-color;
}

.save-button-container {
  @include profile.save-button-container;
}

@media screen and (max-width: 900px) {
  .edit-image-container {
    display: flex;
    flex-direction: column;
  }

  .input-label {
    display: none;
  }
}
