$primary-color: #0c1112;
$secondary-color: #f5f5f5;
$secondary-lighter: #efefef;
$secondary-light: #e7e7e7;
$secondary-darker: #afb0b6;
$accent-color: #3498db;
$accent-lighter: #dbedf9;
$accent-light: #bddef4;
$accent-tertiary: #7fbfea;
$accent-secondary: #4aa4e0;
$accent-dark: #2874a7;
$accent-darker: #1d557b;
$error-color: #d9534f;
