$primary-color: #0e1011;
$primary-alt: hsl(187, 5%, 15%);
$primary-tertiary: hsl(187, 5%, 20%);
$primary-tertiary-hover: hsl(187, 5%, 25%);
$primary-light: hsl(187, 5%, 30%);
$primary-lighter: hsl(187, 5%, 45%);
$primary-lightest: hsl(187, 5%, 75%);
$secondary-color: #f5f5f5;
$secondary-lighter: #efefef;
$secondary-light: #e7e7e7;
$secondary-darker: #afb0b6;
$accent-color: #3498db;
$accent-lighter: #dbedf9;
$accent-light: #bddef4;
$accent-tertiary: #69b2e2;
$accent-secondary: #3393d3;
$accent-dark: #2874a7;
$accent-darker: #1d557b;
$error-color: #d9534f;
