@use 'variables';
@use '../FormInput/FormInput.module.scss';
@use '../EditProfileMixins.module.scss' as profile;

.edit-profile-form {
  @include profile.edit-profile-form;
}

.edit-profile-description {
  @include profile.edit-profile-description;
}

.notification-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-notifications-form {
  display: grid;
  grid-template-rows: auto 1fr 1fr;
  padding: 2rem 0;
  row-gap: 2rem;

  h3 {
    color: variables.$secondary-color;
    font-size: 1.6rem;
    font-weight: 700;
  }
}

.form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 1rem;
}

.save-button-container {
  @include profile.save-button-container;
}
