@use 'variables';

.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem;
}

.about-content {
  display: flex;
  flex-direction: column;
  width: 60%;
  row-gap: 2rem;
}

.about-header {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  color: variables.$accent-color;
}

@media screen and (max-width: 550px) {
  .about-content {
    width: 100%;
  }
}
