@use 'variables';

.explore-page {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin: 2rem 6rem;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$secondary-darker;
}

@media screen and (max-width: 1600px) {
  .explore-page {
    margin: 0 2rem;
  }
}
