@use 'variables';

.modal-open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.7);
  z-index: 1000;
}

.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 2000;
}

.follower-modal {
  background-color: variables.$primary-alt;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  font-size: 0.9rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;

  h3 {
    font-size: 1rem;
    font-weight: 500;
  }
}

.close-button {
  font-size: 1.2rem;
  background-color: transparent;
  color: variables.$secondary-darker;
  transition: all 0.2s ease-in-out;
}

.close-button:hover {
  cursor: pointer;
  color: variables.$secondary-color;
  transition: all 0.2s ease-in-out;
}

.follow-list {
  background-color: variables.$primary-color;
  border-radius: 0.25rem;
  border: 1px solid variables.$primary-tertiary;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 1.5rem;
  height: 24rem;
  width: 30rem;
  padding: 1rem;
  overflow-y: scroll;
}
