@use 'variables';

.project-cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$secondary-darker;
}

@media screen and (max-width: 550px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
}
