@use 'variables';

.image-upload-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.image-upload-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid variables.$primary-lighter;
  border-radius: 4px;
  background-color: variables.$primary-tertiary;
  transition: all 0.2s ease-in-out;
  font-weight: 400;
  flex: 1;
  padding: 2rem 2rem;
  height: 14rem;
}

.image-upload-box.dragging {
  background-color: variables.$primary-tertiary-hover;
  border: 1px solid variables.$accent-color;
  transition: all 0.2s ease-in-out;
}

.image-upload-box:hover {
  cursor: pointer;
  background-color: variables.$primary-tertiary-hover;
  border: 1px solid variables.$secondary-darker;
  transition: all 0.2s ease-in-out;

  .upload-icon {
    color: variables.$accent-tertiary;
    transition: all 0.2s ease-in-out;
  }
}

.image-upload-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.upload-icon {
  font-size: 3rem;
  color: variables.$accent-color;
  transition: all 0.2s ease-in-out;
}

.upload-icon.dragging {
  font-size: 3rem;
  color: variables.$accent-tertiary;
  transition: all 0.2s ease-in-out;
}

.image-upload-main {
  color: variables.$secondary-color;
}

.image-size-limit {
  font-size: 0.9rem;
  color: variables.$secondary-darker;
}

.file-input-error {
  color: variables.$error-color;
}
