@use 'variables';
@use '../UserProfileProjects/UserProfileProjects.module.scss' as Profile;

.collections-container {
  @include Profile.container();
}

.user-profile-collections {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.missing-message {
  @include Profile.missing();
}
