@use 'variables';
@use '../UserProfileProjects/UserProfileProjects.module.scss' as Profile;

.latest-container {
  @include Profile.container();
}

.section-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.alert-container {
  position: absolute;
  right: 21rem;
  bottom: 5rem;
}

.missing-message {
  @include Profile.missing();
}
