@use 'variables';
@use '../UserProfileProjects/UserProfileProjects.module.scss' as Profile;

.latest-container {
  @include Profile.container();
}

.section-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.alert-container {
  position: absolute;
  right: 21rem;
  bottom: 5rem;
}

.missing-message {
  @include Profile.missing();
}

@media screen and (max-width: 550px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
}
