@use 'variables';

.create-project-container {
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  margin: 4rem 18rem;
}

.page-navigation-title {
  font-size: 0.9rem;
  color: variables.$secondary-darker;
  font-weight: 400;
}

.project-title {
  font-size: 2.5rem;
  color: variables.$secondary-color;
  font-weight: 400;
}

.create-project-form {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 2rem;
}

.form-left-column {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.form-right-column {
  display: flex;
  flex-direction: column;
  width: 20rem;
  row-gap: 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  background-color: variables.$primary-alt;
  padding: 1.5rem 1.25rem;
  border-radius: 0.25rem;
}

.form-section-header {
  font-size: 1.5rem;
  font-weight: 400;
  color: variables.$secondary-color;
}

.textarea {
  resize: none;
}

.input-with-title {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.workflow-header {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.section-title {
  color: variables.$secondary-color;
  margin: 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.section-subtitle {
  color: variables.$secondary-darker;
  margin: 0;
  font-weight: 500;
  font-size: 0.9rem;
}

.prompts-section {
  display: flex;
  flex-direction: column;
  background-color: variables.$primary-alt;
  padding: 1.5rem 1.25rem;
  border-radius: 0.25rem;
  row-gap: 1rem;
}

.prompts-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

.hardware-section {
  display: flex;
  flex-direction: column;
  background-color: variables.$primary-alt;
  color: variables.$secondary-color;
  border-radius: 0.25rem;
  padding: 1rem;
  row-gap: 1rem;
}

.hardware-header {
  font-size: 1.2rem;
  font-weight: 500;
}
