@use 'variables';
@use '../../../index.module.scss' as index;
@use '../EditProfileInput/EditProfileInput.module.scss';

@mixin edit-profile-header {
  font-size: 2rem;
}

.edit-profile-form {
  padding: 1rem 1.5rem;

  header {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }
}

.edit-profile-header {
  @include edit-profile-header();
}

.edit-profile-description {
  font-size: 0.9rem;
  font-weight: 400;
  border-bottom: 1px solid variables.$primary-light;
  padding-bottom: 1rem;
  color: variables.$secondary-darker;
}

.general-form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 1rem;
}

.save-edit-button {
  @include index.main-blue-button;
  justify-self: flex-end;
  align-self: flex-start;
  width: 6rem;
}

.save-edit-button:hover {
  @include index.main-blue-button-hover;
}
