@use 'variables';
@use '../../FormInput/FormInput.module.scss';
@use '../EditProfileMixins.module.scss' as profile;

.edit-profile-form {
  @include profile.edit-profile-form;
}

.edit-profile-description {
  @include profile.edit-profile-description;
}

.general-form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 1rem;
}

.save-button-container {
  @include profile.save-button-container;
}
