@use 'variables';
@use '../../../index.module.scss' as index;

.profile-general-form {
  padding: 1rem 1.5rem;

  header {
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
  }
}

.edit-profile-header {
  font-size: 2rem;
}

.edit-profile-description {
  font-size: 0.9rem;
  font-weight: 400;
  border-bottom: 1px solid variables.$primary-light;
  padding-bottom: 1rem;
  color: variables.$secondary-darker;
}

.general-form {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  padding: 2rem 0;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 1rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.edit-profile-label {
  color: variables.$secondary-color;
  font-size: 0.9rem;
}

.edit-profile-input {
  background-color: variables.$primary-color;
  color: variables.$secondary-color;
  border: 1px solid variables.$primary-light;
  padding: 0.5rem 0.75rem;
  border-radius: 0.2rem;
  transition: all 0.2s ease-in-out;
}

.edit-profile-input:hover {
  border: 1px solid variables.$primary-lighter;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.edit-profile-input:focus {
  border: 1px solid variables.$accent-color;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.edit-profile-input.error {
  border: 1px solid variables.$error-color;
}

.input-error-message {
  font-size: 0.8rem;
  font-weight: 400;
  color: variables.$error-color;
}

.save-edit-button {
  @include index.main-blue-button;
  justify-self: flex-end;
  align-self: flex-start;
  width: 6rem;
}

.save-edit-button:hover {
  @include index.main-blue-button-hover;
}
