@use 'variables';

.collections-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 10rem;
  row-gap: 2rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.5rem;

  h1 {
    font-size: 3rem;
    font-weight: 600;
  }

  p {
    font-size: 0.9rem;
    font-weight: 400;
    color: variables.$secondary-darker;
  }
}

.collection-cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.alert-container {
  position: absolute;
  right: 21rem;
  bottom: 5rem;
}

@media screen and (max-width: 550px) {
  .collections-container {
    margin: 3rem 1rem;
  }

  .collection-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .collections-container {
    margin: 3rem 1rem;
  }

  .collection-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 999px) {
  .collections-container {
    margin: 3rem 1rem;
  }

  .collection-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .collections-container {
    margin: 3rem 1rem;
  }

  .collection-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1599px) {
  .collections-container {
    margin: 3rem 1rem;
  }

  .collection-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
}
