@use 'variables';
@use '../FormInput/FormInput.module.scss';

.remaining-characters {
  font-size: 0.8rem;
  font-weight: 400;
  color: variables.$primary-lighter;
}

.remaining-characters.error {
  color: variables.$error-color;
}

.input-error-message {
  font-size: 0.8rem;
  font-weight: 400;
  color: variables.$error-color;
}

.form-input.textarea.error {
  border: 1px solid variables.$error-color;
}
