@use 'variables';

.home-page {
  display: flex;
  flex-direction: column;
  margin: 2rem 6rem;
}

.home-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;

  h1 {
    color: variables.$secondary-darker;
    font-weight: 600;
  }
}

.explore-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.35rem;
  font-weight: 600;
  color: variables.$accent-secondary;
  transition: all 0.2s ease-in-out;
}

.explore-link:hover {
  color: variables.$accent-tertiary;
  transition: all 0.2s ease-in-out;
}

a {
  text-decoration: none;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: variables.$secondary-darker;
}

@media screen and (max-width: 1600px) {
  .home-page {
    margin: 0 1rem;
  }

  .home-header {
    h1 {
      color: variables.$secondary-darker;
      font-weight: 600;
      font-size: 1.5rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }

  .home-header {
    h1 {
      color: variables.$secondary-darker;
      font-weight: 600;
      font-size: 1rem;
    }
    .explore-link {
      font-size: 0.9rem;
    }
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1600px) {
  .project-cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
}
