@use 'variables';

@mixin missing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  color: variables.$secondary-darker;
  font-size: 0.9rem;
}

@mixin container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.projects-container {
  @include container();
}

.user-profile-projects {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.missing-message {
  @include missing();
}
