@use 'variables';

@mixin missing {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  color: variables.$secondary-darker;
  font-size: 0.9rem;
}

@mixin container {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.projects-container {
  @include container();
}

.user-profile-projects {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1rem;
}

.missing-message {
  @include missing();
}

@media screen and (max-width: 550px) {
  .user-profile-projects {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 551px) and (max-width: 768px) {
  .user-profile-projects {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1199px) {
  .user-profile-projects {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .user-profile-projects {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1rem;
  }
}
