@use 'variables';

@mixin colored-button {
  display: flex;
  background-color: variables.$accent-color;
  border: none;
  border-radius: 0.25rem;
  color: variables.$secondary-color;
  padding: 0.35rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  column-gap: 0.5rem;
}

@mixin colored-button-hover {
  background-color: variables.$accent-tertiary;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button {
  border: none;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: variables.$primary-color;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  z-index: 1000;
}

.border {
  border-bottom: 1px solid variables.$primary-tertiary;
}

.left-third-nav {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  flex: 1;
  padding: 0 2rem;
}

.navbar-nav-button {
  background-color: transparent;
  border: none;
  color: variables.$primary-lighter;
  transition: all 0.2s ease-in-out;
}

.navbar-nav-button:hover {
  color: variables.$primary-lightest;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.logo {
  color: variables.$accent-color;
  font-size: 2rem;
  font-weight: 800;
  cursor: pointer;
}

.right-third-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
}

.login {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav-link {
  text-decoration: none;
}

.login-button {
  @include colored-button();
}

.login-button:hover {
  @include colored-button-hover();
}

.create-button-container {
  display: flex;
}

.create-project-button {
  @include colored-button();
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-right: 8px;
}

.create-project-button:hover {
  @include colored-button-hover();
}

.create-drop-down-button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include colored-button();
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 10px;
  padding-left: 8px;
  border-left: 0.5px solid variables.$accent-dark;
}

.create-drop-down-button:hover {
  @include colored-button-hover();
}

.create-popout-container {
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  width: 27rem;
}

.signup-button {
  @include colored-button();
  background-color: variables.$primary-light;
  color: variables.$secondary-color;
}

.signup-button:hover {
  @include colored-button-hover();
  background-color: variables.$primary-lighter;
  color: variables.$secondary-color;
}

.notification-icons {
  position: relative;
  display: flex;
  column-gap: 1.4rem;
  font-size: 1.2rem;
}

.notification-popout-container {
  position: absolute;
  right: 400px;
  top: 40px;
}

.notification-button {
  background-color: transparent;
  height: 2rem;
  width: 2rem;
}

.notification-icon {
  position: relative;
  color: variables.$primary-lighter;
  transition: all 0.2s ease-in-out;
}

.notification-icon:hover {
  color: variables.$primary-lightest;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.avatar-container {
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.avatar-container:hover {
  border-radius: 35%;
  transition: all 0.2s ease-in-out;
}

.avatar-container:hover {
  cursor: pointer;
}

.user-avatar {
  height: 38px;
  width: auto;
}

.avatar-popout-container {
  position: absolute;
  top: 4.5rem;
  right: -2rem;
  width: 16rem;
}

.notification-dot {
  position: absolute;
  top: -10px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: variables.$error-color;
  color: variables.$secondary-color;
  border: 3px solid variables.$primary-color;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 50%;
}
