@use 'variables';

@mixin colored-button {
  display: flex;
  background-color: variables.$accent-color;
  border: none;
  border-radius: 0.25rem;
  color: variables.$secondary-color;
  padding: 0.35rem 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  column-gap: 0.5rem;
  white-space: nowrap;
}

@mixin colored-button-hover {
  background-color: variables.$accent-tertiary;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

button {
  border: none;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: variables.$primary-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 2rem;
  z-index: 1000;
}

.border {
  border-bottom: 1px solid variables.$primary-tertiary;
}

.left-third-nav {
  display: flex;
  align-items: center;
}

.menu-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  background-color: variables.$primary-color;
  padding: 0 1rem 2rem;
  box-shadow: 0 0 10px 2px rgba($color: #000000, $alpha: 1);
}

.menu-icon {
  display: none;
  color: variables.$secondary-color;
  font-size: 1.4rem;
  background-color: variables.$primary-color;
}

.menu-icon:hover {
  cursor: pointer;
}

.menu-overlay {
  display: flex;
  flex-direction: column;
}

.menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.menu-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-options {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  margin-top: 2rem;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  flex: 1;
  column-gap: 1rem;
  margin-left: 2rem;
}

.navbar-nav-button {
  background-color: transparent;
  border: none;
  color: variables.$primary-lighter;
  transition: all 0.2s ease-in-out;
}

.navbar-nav-button:hover {
  color: variables.$primary-lightest;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.single-letter-logo {
  display: none;
}

.logo {
  color: variables.$accent-color;
  font-size: 1rem;
  cursor: pointer;
  font-family: 'tachyon', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.middle-third-nav {
  flex: 0.9;
}

.right-third-nav,
.user-right-third-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 2rem;
}

.login {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.nav-link {
  text-decoration: none;
}

.login-button {
  @include colored-button();
}

.login-button:hover {
  @include colored-button-hover();
}

.create-button-container {
  display: flex;
}

.create-project-button {
  @include colored-button();
  // border-top-right-radius: 0;
  // border-bottom-right-radius: 0;
  // padding-right: 8px;
}

.create-project-button:hover {
  @include colored-button-hover();
}

.create-drop-down-button {
  display: flex;
  justify-content: center;
  align-items: center;
  @include colored-button();
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding-right: 10px;
  padding-left: 8px;
  border-left: 0.5px solid variables.$accent-dark;
}

.create-drop-down-button:hover {
  @include colored-button-hover();
}

.create-popout-container {
  position: absolute;
  top: 4.5rem;
  right: 0rem;
  width: 27rem;
}

.signup-button,
.menu-signup-button {
  @include colored-button();
  background-color: variables.$primary-light;
  color: variables.$secondary-color;
}

.signup-button:hover,
.menu-signup-button:hover {
  @include colored-button-hover();
  background-color: variables.$primary-lighter;
  color: variables.$secondary-color;
}

.mobile-notification-button {
  display: none;
}

.notification-icons {
  position: relative;
  display: flex;
  column-gap: 1.4rem;
  font-size: 1.2rem;
}

.notification-popout-container {
  position: absolute;
  right: 400px;
  top: 40px;
}

.mobile-notification-popout-container {
  display: none;
}

.notification-button,
.message-button,
.mobile-notification-button {
  background-color: transparent;
  height: 2rem;
  width: 2rem;
}

.notification-icon,
.message-icon {
  position: relative;
  color: variables.$primary-lighter;
  transition: all 0.2s ease-in-out;
}

.notification-icon:hover,
.message-icon:hover {
  color: variables.$primary-lightest;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.avatar-container {
  overflow: hidden;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.avatar-container:hover {
  border-radius: 35%;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.user-avatar {
  height: 38px;
}

.avatar-popout-container {
  position: absolute;
  top: 4.5rem;
  right: -2rem;
  width: 16rem;
}

.notification-dot {
  position: absolute;
  top: -10px;
  right: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 1.5rem;
  background-color: variables.$error-color;
  color: variables.$secondary-color;
  border: 3px solid variables.$primary-color;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 50%;
}

@media screen and (max-width: 550px) {
  .create-button-container {
    display: none;
  }
}

@media screen and (min-width: 551px) {
  .menu-create-button-container {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
  }

  .nav-links {
    display: none;
  }

  .logo {
    display: none;
  }

  .login-button,
  .menu-signup-button {
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .signup-button {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .middle-third-nav {
    display: none;
  }

  .single-letter-logo {
    display: flex;
    color: variables.$accent-color;
    font-size: 1.5rem;
    cursor: pointer;
    font-family: 'tachyon', sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .notification-button {
    display: none;
  }

  .mobile-notification-button {
    display: flex;
  }
}

@media screen and (min-width: 769px) and (max-width: 1600px) {
  .menu-overlay {
    padding: 0 2rem 2rem;
  }

  .nav-links {
    display: none;
  }

  .logo {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .menu-search {
    display: none;
  }

  .menu-signup-button {
    display: none;
  }

  .login {
    column-gap: 1rem;
  }
}
